body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  display: flex;
  height: 100vh;
  gap: 10px;
}

.left {
  flex: 1 1 0;
}

.right {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  resize: none;
}

#pScript {
  height: 100%;
}

#pConsole {
  height: 70%;
  pointer-events: none;
}

.buttonarea {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}